@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Unbounded:wght@200..900&display=swap");
.none {
  display: none;
}

/* Reset and base styles  */
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --container-width: 1120px;
  --container-padding: 15px;
}

.slider-how-was__img::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.container {
  width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

body {
  font-family: "Geologica", sans-serif;
  color: #2a4056;
}

.h1 {
  font-family: "Unbounded", sans-serif;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
}

.h2 {
  font-family: "Unbounded", sans-serif;
  font-size: 46px;
  line-height: 1.04;
  font-weight: 700;
}
.h2--light {
  color: #fff;
}

.h3 {
  font-family: "Unbounded", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  color: #fff;
}

.grad-border {
  padding-bottom: 2px;
  display: inline;
  background-image: linear-gradient(90deg, rgb(0, 230, 134), rgb(0, 230, 210), rgb(0, 191, 230));
  background-size: 100% 12px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.grad-text {
  background-image: linear-gradient(90deg, rgb(0, 230, 134), rgb(0, 230, 210), rgb(0, 191, 230));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.section-bg {
  position: relative;
}
.section-bg::after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 20px;
  content: "";
  width: 600px;
  height: 600px;
  transform: translateX(50%);
  background-image: url("./../../img/decor-svg/circle-green.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.decor-polygon {
  position: relative;
}

.email {
  font-family: "Geologica", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
}

.clip-section {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(-41.52deg, rgb(204, 255, 227) 3.924%, rgb(128, 247, 255) 117.774%);
  -webkit-clip-path: polygon(0 8vw, 100% 0%, 100% calc(100% - 10vw), 0 100%);
          clip-path: polygon(0 8vw, 100% 0%, 100% calc(100% - 10vw), 0 100%);
}
.clip-section--dark {
  background-image: url("./../../img/speakers/speakers-bg.svg");
}

.btn-solid {
  display: inline-block;
  height: 56px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 16px;
  background-color: #293f55;
  font-family: "Unbounded", sans-serif;
  font-size: 18px;
  line-height: 56px;
  font-weight: 500;
  color: #fff;
}
.btn-solid--grad {
  box-shadow: 0px 24px 40px 0px rgba(8, 202, 229, 0.2);
  background: linear-gradient(90deg, rgb(0, 230, 134) -0.036%, rgb(0, 230, 210) 48.922%, rgb(0, 191, 230) 99.964%);
}

.btn-header {
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
  height: 40px;
  border: 1px solid #2a4056;
  border-radius: 11.43px;
  font-family: "Unbounded", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  color: #2a4056;
  transition: all 0.2s ease-in;
}
.btn-header:hover {
  opacity: 0.8;
}

.timer {
  padding: 40px 96px 48px;
  width: 1120px;
  border-radius: 24px;
  border: 1px solid #2a4056;
  box-shadow: 0px 20px 40px 0px rgba(8, 99, 145, 0.08);
  background-color: #fff;
}
.timer--outline {
  border-color: #e4edf6;
}

.timer-count {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e4edf6;
}

.timer-count__text {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.11;
  color: #2a4056;
}

.countdown {
  display: flex;
  align-items: center;
}

.time {
  display: flex;
  font-size: 54px;
  line-height: 1.18;
}
.time:not(:last-child) {
  position: relative;
}
.time:not(:last-child)::after {
  padding-left: 10px;
  padding-right: 11px;
  content: ":";
  font-size: 54px;
  color: #79a6d2;
}

.time__unit {
  padding-left: 12px;
}

.badge-video {
  width: 545px;
  height: 308px;
  position: absolute;
  right: 0;
  top: -1px;
}
.badge-video::before {
  cursor: pointer;
  z-index: 5;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

.badge-video__title {
  z-index: 1;
  position: absolute;
  bottom: 16px;
  left: 24px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: #fff;
}

.badge-video__img {
  position: relative;
  width: 544px;
  height: 308px;
  border-radius: 24px;
  overflow: hidden;
}
.badge-video__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.badge-video__img::before, .badge-video__img::after {
  position: absolute;
  content: "";
}
.badge-video__img::before {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(42, 64, 86, 0.4);
}
.badge-video__img::after {
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  background-image: url("./../img/sliders/play.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.form {
  padding-top: 32px;
}

.form__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: #2a4056;
}

.form__group {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.form__input {
  height: 56px;
  width: 100%;
  padding: 14px 20px;
  border: 1px solid rgb(198, 217, 236);
  border-radius: 16px;
}
.form__input::-moz-placeholder {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: #8599ad;
}
.form__input::placeholder {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: #8599ad;
}

.tab__nav {
  margin-bottom: 48px;
  display: flex;
  border-bottom: 1px solid #c6d9ec;
}

.tab__btn {
  position: relative;
  padding-bottom: 16px;
  font-family: "Geologica", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.11;
  color: #2a4056;
  background-image: transparent;
}
.tab__btn:not(:last-child) {
  margin-right: 40px;
}
.tab__btn--active {
  background-image: linear-gradient(90deg, rgb(0, 230, 134), rgb(0, 230, 210), rgb(0, 191, 230));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.tab__btn--active::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(90deg, rgb(0, 230, 134), rgb(0, 230, 210), rgb(0, 191, 230));
}

.tab-block {
  display: none;
}
.tab-block--active {
  display: block;
}

.tab-block__row {
  display: flex;
}
.tab-block__row:not(:last-child) {
  margin-bottom: 56px;
}

.tab-block__column:not(:last-child) {
  margin-right: 32px;
}
.tab-block__column:first-child {
  width: 160px;
}
.tab-block__column:nth-child(n+2) {
  width: 352px;
}
.tab-block__column:last-child {
  flex-grow: 1;
}

.tab-block__time {
  color: #2a4056;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
}

.tab-block__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #2a4056;
}

.tab-block__line {
  position: relative;
  padding-left: 32px;
  font-weight: 300;
  color: #2a4056;
}
.tab-block__line:not(:last-child) {
  margin-bottom: 16px;
}
.tab-block__line::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2a4056;
}

.tab-block__name {
  font-size: 18px;
  line-height: 1.55;
}

.tab-block__desc {
  font-size: 15px;
  line-height: 1.33;
}

.slider-content {
  position: relative;
}

.slider-arrow {
  z-index: 4;
  position: absolute;
  top: 50%;
  content: "";
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #fff;
  border-radius: 100px;
  box-shadow: 0px 20px 40px 0px rgba(8, 99, 145, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-arrow.swiper-button-disabled {
  opacity: 0;
}
.slider-place .slider-arrow.swiper-button-disabled {
  opacity: 0.4;
}

.slider-arrow__prev {
  transform: translate(-50%, -50%);
  left: 0;
}

.slider-arrow__next {
  right: 0;
  transform: translate(50%, -50%);
}

.swiper-pagination-bullet {
  position: relative;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  opacity: 1;
  background-color: #c6d9ec;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  width: 16px;
  height: 16px;
  background: linear-gradient(90deg, rgb(0, 230, 134) -0.036%, rgb(0, 230, 210) 48.922%, rgb(0, 191, 230) 99.964%);
}

.slider-badge {
  width: 100%;
  height: 306px;
  border-radius: 24px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.slider-badge__text {
  padding-top: 64px;
  padding-left: 64px;
  max-width: 408px;
}

.slider-badge__title {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.slider-badge__desc {
  margin-bottom: 4px;
}

.slider-badge__link-map {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
}

.slider-how-was {
  position: relative;
  width: 1120px;
  height: 600px;
}
.slider-how-was:hover .slider-how-was__img::after {
  opacity: 1;
}

.slider-mini-how-was {
  margin-top: 24px;
}

.slider-how-was__item {
  position: relative;
}

.slider-how-was__img {
  position: relative;
  width: 1120px;
  height: 600px;
  border-radius: 24px;
  overflow: hidden;
}
.slider-how-was__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.slider-how-was__img:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 160px;
  height: 160px;
  background-image: url("./../img/sliders/play.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.2s ease-in;
}

.slider-how-was__text {
  position: absolute;
  top: 32px;
  left: 32px;
  max-width: 345px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #fff;
  text-overflow: ellipsis;
}

.slider-mini-how-was {
  height: 88px;
  width: 100%;
}
.slider-mini-how-was .swiper-wrapper {
  justify-content: center;
}

.slider-mini-how-was__item {
  padding-bottom: 8px;
  position: relative;
  width: 100px !important;
  height: 64px;
  opacity: 0.5;
  cursor: pointer;
}
.slider-mini-how-was__item::before {
  opacity: 0;
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-image: linear-gradient(90deg, rgb(0, 230, 134), rgb(0, 230, 210), rgb(0, 191, 230));
}

.slider-mini-how-was__item.swiper-slide-thumb-active {
  opacity: 1;
}
.slider-mini-how-was__item.swiper-slide-thumb-active::before {
  opacity: 1;
}

.slider-mini-how-was__img {
  width: 100px;
  height: 56px;
  border-radius: 8px;
  overflow: hidden;
}
.slider-mini-how-was__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.slider-reviews {
  position: relative;
  padding-bottom: 48px;
  width: 1120px;
  height: 476px;
}

.slider-reviews__item {
  padding: 32px 40px 40px;
  display: flex;
  width: 544px !important;
  height: 428px;
  border: 1px solid #c6d9ec;
  border-radius: 16px;
  -webkit-backdrop-filter: blur(40px);
          backdrop-filter: blur(40px);
  background: rgba(255, 255, 255, 0.4);
}

.slider-reviews__img {
  margin-right: 16px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  flex-shrink: 0;
  overflow: hidden;
}
.slider-reviews__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-reviews__text {
  padding-top: 8px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  overflow: hidden;
}

.slider-reviews__title {
  margin-bottom: 16px;
}

.slider-reviews__name {
  font-weight: 600;
}

.slider-reviews__date {
  font-size: 15px;
  line-height: 1.6;
}

.slider-reviews__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.slider-press-about {
  position: relative;
  width: 100%;
  height: 356px;
}

.slider-press-about__item {
  padding-left: 24px;
  padding-right: 24px;
  width: 352px;
  max-height: 308px;
  overflow: hidden;
}

.slider-press-about__title {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
  color: #2a4056;
  text-decoration: underline;
}

.slider-press-about__text {
  margin-bottom: 20px;
  height: 140px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  text-overflow: ellipsis;
  overflow: hidden;
}

.slider-press-about__label {
  display: flex;
  align-items: center;
}

.slider-press-about__img {
  margin-right: 12px;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.slider-press-about__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-press-about__pagination {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 50%;
}

.slider-pagination:not(:last-child) {
  margin-right: 16px;
}

.slider-place {
  position: relative;
  height: 1047px;
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 75%, 0 85%);
          clip-path: polygon(0 10%, 100% 0, 100% 75%, 0 85%);
}

.slider-place__content {
  position: relative;
}

.slider-place__item {
  width: 100%;
  height: 888px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-place__item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-place__badge {
  z-index: 1;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.slider-place__pagination {
  padding-left: 34px;
  padding-right: 34px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 130px;
  height: 48px;
  font-size: 24px;
  font-weight: 300;
  line-height: 48px;
  border-radius: 100px;
  background-color: #fff;
}

.slider__controls {
  z-index: 2;
  position: absolute;
  width: 274px;
  height: 48px;
  position: absolute;
  bottom: 33%;
  left: 50%;
  transform: translateX(-50%);
}

.slider-speakers {
  position: relative;
  width: 1080px;
  height: 540px;
}

.slider-speakers__item {
  width: 216px;
  height: 380px;
}
.slider-speakers__item:nth-child(even) {
  margin-top: 72px;
}

.slider-speakers__img {
  margin-bottom: 24px;
  width: 216px;
  height: 264px;
  overflow: hidden;
}
.slider-speakers__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-clip-path: inset(0 round 100px 0 100px 0);
          clip-path: inset(0 round 100px 0 100px 0);
}

.slider-speakers__title {
  margin-bottom: 8px;
}

.slider-speakers__desc {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.33;
  color: #c6d9ec;
}

.slider-speakers__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.header__nav {
  padding-top: 24px;
  padding-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__list li:not(:last-child) {
  margin-right: 24px;
}

.nav__list a {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: #2a4056;
}

.header {
  padding-top: 20px;
  padding-bottom: 105px;
}

.header__content {
  position: relative;
  height: 564px;
}
.header__content:not(:last-child) {
  margin-bottom: 120px;
}

.header__img {
  position: absolute;
  top: 0;
  right: 0;
  width: 928px;
  height: 564px;
  overflow: hidden;
}
.header__img img {
  -webkit-clip-path: path("M912 0H105.271C99.3051 0 93.5532 2.22192 89.1366 6.23252L7.86566 80.0333C2.85635 84.5821 0 91.0342 0 97.8007V164.521C0 173.358 7.16344 180.521 16 180.521H147C155.837 180.521 163 187.685 163 196.521V264.489C163 273.325 170.163 280.489 179 280.489H335C343.837 280.489 351 287.652 351 296.489V374.738C351 383.575 358.163 390.738 367 390.738H561C569.837 390.738 577 397.902 577 406.738V548C577 556.837 584.163 564 593 564H821.362C827.844 564 834.049 561.379 838.568 556.732L921.205 471.76C925.562 467.28 928 461.277 928 455.027V16C928 7.16344 920.837 0 912 0Z");
          clip-path: path("M912 0H105.271C99.3051 0 93.5532 2.22192 89.1366 6.23252L7.86566 80.0333C2.85635 84.5821 0 91.0342 0 97.8007V164.521C0 173.358 7.16344 180.521 16 180.521H147C155.837 180.521 163 187.685 163 196.521V264.489C163 273.325 170.163 280.489 179 280.489H335C343.837 280.489 351 287.652 351 296.489V374.738C351 383.575 358.163 390.738 367 390.738H561C569.837 390.738 577 397.902 577 406.738V548C577 556.837 584.163 564 593 564H821.362C827.844 564 834.049 561.379 838.568 556.732L921.205 471.76C925.562 467.28 928 461.277 928 455.027V16C928 7.16344 920.837 0 912 0Z");
  width: 100%;
  height: 100%;
}

.header__text {
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  max-width: 657px;
}

.header__text span {
  margin-bottom: 8px;
  font-family: "Geologica", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.11;
}
.header__text span::before {
  content: "";
  position: absolute;
  top: -44px;
  left: -18px;
  width: 72px;
  height: 125px;
  transform: translateX(-100%);
  background-image: url("./../img/decor-multi.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__title {
  margin-bottom: 24px;
}

.header__desc {
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.11;
}
.header__desc p:first-child::after {
  margin-left: 24px;
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2a4056;
}

.forum {
  padding-top: 43px;
  padding-bottom: 115px;
}

.forum.decor-polygon::before {
  position: absolute;
  content: "";
  top: 0;
  left: -73px;
  width: 182px;
  height: 348px;
  background-image: url("./../img/forum/polygon-one.svg");
}
.forum.decor-polygon::after {
  position: absolute;
  content: "";
  bottom: 115px;
  right: 103px;
  width: 138px;
  height: 228px;
  background-image: url("./../img/forum/polygon-double.svg");
}

.forum__header {
  margin-bottom: 40px;
  text-align: center;
}

.forum__row {
  display: flex;
  justify-content: space-between;
}

.forum__speakers {
  width: 252px;
}

.forum__img-wrapper {
  margin-bottom: 24px;
  width: 235px;
  height: 244px;
  overflow: hidden;
}
.forum__img-wrapper img {
  width: 100%;
  height: auto;
}

.forum__note {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  color: #2a4056;
}

.forum__text {
  width: 503px;
}
.forum__text h4 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #2a4056;
}
.forum__text p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: #2a4056;
}
.forum__text p + * {
  margin-top: 48px;
}

.forum__desc {
  margin-bottom: 48px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
  color: #2a4056;
}

.forum__stat {
  width: 216px;
}

.stat-grid li {
  padding-right: 5px;
}
.stat-grid li:not(:last-child) {
  margin-bottom: 48px;
}

.stat-grid__value {
  margin-bottom: 4px;
  font-size: 46px;
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  line-height: 1.04;
}

.stat-grid__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
  color: #2a4056;
}

.speakers {
  position: relative;
  padding-top: 187px;
  padding-bottom: 185px;
  overflow: hidden;
}

.speakers__header {
  margin-bottom: 64px;
  text-align: center;
}

.speakers__badge {
  width: 216px;
  height: 84px;
  position: absolute;
  z-index: 1;
  top: 173px;
  right: calc(50vw - var(--container-width) / 2 - 20px);
  color: #fff;
}

.speakers__badge .decor-polygon {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: -31px;
  right: 22px;
  width: 75px;
  height: 141px;
  background-image: url("./../img/decor-svg/polygon-azure-one.svg");
}

.speakers__amount {
  font-family: "Unbounded", sans-serif;
  font-size: 46px;
  font-weight: 700;
  line-height: 1.04;
}

.speakers__subtext {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
}

.program {
  padding-top: 120px;
  padding-bottom: 67px;
}

.program__header {
  margin-bottom: 80px;
  text-align: center;
}

.cost {
  position: relative;
  padding-top: 160px;
  padding-bottom: 160px;
  text-align: center;
  height: 1115px;
}

.cost.decor-polygon {
  position: relative;
  z-index: 5;
}
.cost.decor-polygon::before {
  z-index: 5;
  position: absolute;
  content: "";
  bottom: 0;
  left: calc(50vw - var(--container-width) / 2);
  transform: translate(-50%, 50%);
  width: 166px;
  height: 173px;
  background-image: url("./../img/decor-svg/cube-double.svg");
}
.cost.decor-polygon::after {
  z-index: 5;
  position: absolute;
  content: "";
  top: -43px;
  right: calc(50vw - var(--container-width) / 2 + 60px);
  transform: translateX(100%);
  width: 164px;
  height: 187px;
  background-image: url("./../img/decor-svg/polygon-triple.svg");
}

.cost__header {
  margin-bottom: 72px;
}

.cost__desc {
  margin-bottom: 40px;
  padding-right: 76px;
  padding-left: 76px;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  color: rgb(42, 64, 86);
}

.cost__timer {
  margin-bottom: 56px;
}

.cost-include__title {
  margin-bottom: 24px;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  color: #2a4056;
}

.cost-include__list {
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
  max-width: 832px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
}

.cost-include__list li {
  padding: 8px 24px;
  display: inline-block;
  border: 1px solid #2a4056;
  border-radius: 12px;
}

.const__warning {
  margin: 0 auto;
  padding-left: 32px;
  max-width: 320px;
  position: relative;
  text-align: left;
  font-size: 15px;
  font-weight: 300;
  line-height: 20px;
  color: #2a4056;
}
.const__warning::before {
  position: absolute;
  content: url("./../../img/icons/warning.svg");
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  display: inline-block;
}

.how-was__header {
  padding-top: 64px;
  padding-bottom: 100px;
  margin-bottom: 64px;
  text-align: center;
}

.reviews {
  padding-top: 100px;
  padding-bottom: 100px;
}

.reviews .decor-polygon::before {
  position: absolute;
  content: "";
  bottom: -89px;
  left: -93px;
  width: 150px;
  height: 288px;
  background-image: url("./../img/decor-svg/polygon-cyan-one.svg");
}
.reviews .decor-polygon::after {
  z-index: 2;
  position: absolute;
  content: "";
  top: -49px;
  right: -32px;
  width: 75px;
  height: 141px;
  background-image: url("./../img/decor-svg/polygon-lime-one.svg");
}

.reviews__header {
  margin-bottom: 64px;
  text-align: center;
}

.press-about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.press-about__header {
  margin-bottom: 80px;
  text-align: center;
}

.partners {
  padding-top: 100px;
  padding-bottom: 60px;
  text-align: center;
}

.partners__header {
  margin-bottom: 64px;
  text-align: center;
}

.partners__row + .partners__row {
  margin-top: 57px;
}

.partners__list li {
  width: 256px;
  height: 160px;
  background-color: #fff;
  border-radius: 16px;
  box-sizing: border-box;
  border: 1px solid #c6d9ec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.partners__name {
  margin-bottom: 16px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.55;
}

.partners__btn {
  margin-top: 48px;
}

.place {
  position: relative;
  height: 1047px;
  overflow: hidden;
}

.place__header {
  z-index: 2;
  position: absolute;
  top: 136px;
  left: 50%;
  transform: translateX(-50%);
}

.footer {
  margin-top: -300px;
  padding-top: 459px;
  padding-bottom: 80px;
  background-color: #999;
  background-image: url("./../img/footer-bg/img-bg.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer__email-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  color: #fff;
}

.footer__header {
  margin-bottom: 64px;
}

.footer__contacts {
  display: flex;
  justify-content: space-between;
  padding-bottom: 72px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.footer__row {
  padding-top: 48px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}
.footer__row > * {
  flex-shrink: 0;
}

.footer__column:first-child {
  width: 640px;
}
.footer__column:last-child {
  width: 440px;
}

.footer__phone {
  margin-bottom: 40px;
  font-size: 54px;
  font-weight: 400;
  line-height: 1.18;
}
.footer__phone a {
  color: #fff;
}

.form-subscribe {
  width: 448px;
  height: 128px;
}

.form-subscribe__input {
  margin-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  height: 56px;
  width: 100%;
  border: 1px solid #c6d9ec;
  border-radius: 16px;
  line-height: 56px;
  color: #fff;
}
.form-subscribe__input::-moz-placeholder {
  font-size: 18px;
  font-weight: 300;
  color: #8599ad;
}
.form-subscribe__input::placeholder {
  font-size: 18px;
  font-weight: 300;
  color: #8599ad;
}

.footer__bottom {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  color: #c6d9ec;
}
.footer__bottom a {
  color: rgb(198, 217, 236);
  transition: opacity 0.2s ease-in;
}
.footer__bottom a:hover {
  opacity: 0.6;
}

.footer__bottom .footer__column:first-child {
  margin-top: auto;
}

.footer__copyright {
  display: flex;
}
.footer__copyright li:not(:last-child) {
  margin-right: 48px;
}

.footer__policy li + li {
  margin-top: 8px;
}/*# sourceMappingURL=main.css.map */