@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Unbounded:wght@200..900&display=swap");
.none {
  display: none;
}

/* Reset and base styles  */
*,
*::before,
*::after {
  padding: 0px;
  margin: 0px;
  border: none;
  box-sizing: border-box;
}

/* Links */
a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

.container {
  width: 1150px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: "Geologica", sans-serif;
  color: #2a4056;
  overflow-x: hidden;
}

.h1 {
  font-family: "Unbounded", sans-serif;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
}

.h2 {
  font-family: "Unbounded", sans-serif;
  font-size: 46px;
  line-height: 1.04;
  font-weight: 700;
}
.h2--light {
  color: #fff;
}

.grad-border {
  padding-bottom: 2px;
  display: inline;
  background-image: linear-gradient(90deg, rgb(0, 230, 134), rgb(0, 230, 210), rgb(0, 191, 230));
  background-size: 100% 12px;
  background-position: center bottom;
  background-repeat: no-repeat;
}

.grad-text {
  background-image: linear-gradient(90deg, rgb(0, 230, 134), rgb(0, 230, 210), rgb(0, 191, 230));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.section-bg {
  position: relative;
}
.section-bg::after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 20px;
  content: "";
  width: 600px;
  height: 600px;
  transform: translateX(50%);
  background-image: url("./../../img/decor-svg/circle-green.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.decor-polygon {
  position: relative;
}

.btn-solid {
  display: inline-block;
  height: 56px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 16px;
  background-color: #293f55;
  font-family: "Unbounded", sans-serif;
  font-size: 18px;
  line-height: 56px;
  font-weight: 500;
  color: #2a4056;
}
.btn-solid--grad {
  box-shadow: 0px 24px 40px 0px rgba(8, 202, 229, 0.2);
  background: linear-gradient(90deg, rgb(0, 230, 134) -0.036%, rgb(0, 230, 210) 48.922%, rgb(0, 191, 230) 99.964%);
  color: #fff;
}

.btn-header {
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
  height: 40px;
  border: 1px solid #2a4056;
  border-radius: 11.43px;
  font-family: "Unbounded", sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  color: #2a4056;
  transition: all 0.2s ease-in;
}
.btn-header:hover {
  opacity: 0.8;
}

.timer {
  padding: 40px 96px 48px;
  border-radius: 24px;
  border: 1px solid #2a4056;
  box-shadow: 0px 20px 40px 0px rgba(8, 99, 145, 0.08);
  background-color: #fff;
}

.timer-count {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e4edf6;
}

.timer-count__text {
  font-size: 36px;
  font-weight: 300;
  line-height: 1.11;
  color: #2a4056;
}

.countdown {
  display: flex;
  align-items: center;
}

.time {
  display: flex;
  font-size: 54px;
  line-height: 1.18;
}
.time:not(:last-child) {
  position: relative;
}
.time:not(:last-child)::after {
  padding-left: 13px;
  padding-right: 13px;
  content: ":";
  font-size: 54px;
  color: #79a6d2;
}

.time__unit {
  padding-left: 12px;
}

.form {
  padding-top: 32px;
}

.form__title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: #2a4056;
}

.form__group {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 16px;
       column-gap: 16px;
}

.form__input {
  height: 56px;
  width: 100%;
  padding: 14px 20px;
  border: 1px solid rgb(198, 217, 236);
  border-radius: 16px;
}
.form__input::-moz-placeholder {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: #8599ad;
}
.form__input::placeholder {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: #8599ad;
}

.tab__nav {
  margin-bottom: 48px;
  display: flex;
  border-bottom: 1px solid #c6d9ec;
}

.tab__btn {
  position: relative;
  padding-bottom: 16px;
  font-family: "Geologica", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.11;
  color: #2a4056;
  background-image: transparent;
}
.tab__btn:not(:last-child) {
  margin-right: 40px;
}
.tab__btn--active {
  background-image: linear-gradient(90deg, rgb(0, 230, 134), rgb(0, 230, 210), rgb(0, 191, 230));
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.tab__btn--active::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-image: linear-gradient(90deg, rgb(0, 230, 134), rgb(0, 230, 210), rgb(0, 191, 230));
}

.tab-block__row {
  display: flex;
}

.tab-block__column:not(:last-child) {
  margin-right: 32px;
}
.tab-block__column:first-child {
  width: 160px;
}
.tab-block__column:nth-child(n+2) {
  width: 352px;
}

.tab-block__time {
  color: #2a4056;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
}

.tab-block__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #2a4056;
}

.tab-block__line {
  position: relative;
  padding-left: 28px;
  font-weight: 300;
  color: #2a4056;
}
.tab-block__line:not(:last-child) {
  margin-bottom: 16px;
}
.tab-block__line::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 10px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #2a4056;
}

.tab-block__name {
  font-size: 18px;
  line-height: 1.55;
}

.tab-block__desc {
  font-size: 15px;
  line-height: 1.33;
}

.header__nav {
  padding-top: 24px;
  padding-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__list li:not(:last-child) {
  margin-right: 24px;
}

.nav__list a {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: #2a4056;
}

.header {
  padding-top: 20px;
  padding-bottom: 105px;
}

.header__content {
  position: relative;
  height: 564px;
  background-image: url("./../img/header/header-bg.svg");
  background-position: right top;
  background-size: 928px 564px;
  background-repeat: no-repeat;
}
.header__content:not(:last-child) {
  margin-bottom: 120px;
}

.header__text {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  max-width: 657px;
}

.header__text span {
  margin-bottom: 8px;
  font-family: "Geologica", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.11;
}
.header__text span::before {
  content: "";
  position: absolute;
  top: -44px;
  left: -18px;
  width: 72px;
  height: 125px;
  transform: translateX(-100%);
  background-image: url("./../img/decor-multi.svg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header__title {
  margin-bottom: 24px;
}

.header__desc {
  display: flex;
  justify-content: space-between;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.11;
}
.header__desc p:first-child::after {
  margin-left: 24px;
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #2a4056;
}

.forum {
  padding-top: 43px;
  padding-bottom: 115px;
}

.forum.decor-polygon::before {
  position: absolute;
  content: "";
  top: 0;
  left: -73px;
  width: 182px;
  height: 348px;
  background-image: url("./../img/forum/polygon-one.svg");
}
.forum.decor-polygon::after {
  position: absolute;
  content: "";
  bottom: 115px;
  right: 103px;
  width: 138px;
  height: 228px;
  background-image: url("./../img/forum/polygon-double.svg");
}

.forum__header {
  margin-bottom: 40px;
  text-align: center;
}

.forum__row {
  display: flex;
  justify-content: space-between;
}

.forum__speakers {
  width: 252px;
}

.forum__img-wrapper {
  margin-bottom: 24px;
  width: 235px;
  height: 244px;
  overflow: hidden;
}
.forum__img-wrapper img {
  width: 100%;
  height: auto;
}

.forum__note {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.6;
  color: #2a4056;
}

.forum__text {
  width: 503px;
}
.forum__text h4 {
  margin-bottom: 16px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  color: #2a4056;
}
.forum__text p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.55;
  color: #2a4056;
}
.forum__text p + * {
  margin-top: 48px;
}

.forum__desc {
  margin-bottom: 48px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
  color: #2a4056;
}

.forum__stat {
  width: 216px;
}

.stat-grid li {
  padding-right: 5px;
}
.stat-grid li:not(:last-child) {
  margin-bottom: 48px;
}

.stat-grid__value {
  margin-bottom: 4px;
  font-size: 46px;
  font-family: "Unbounded", sans-serif;
  font-weight: 700;
  line-height: 1.04;
}

.stat-grid__text {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.33;
  color: #2a4056;
}

.speakers {
  z-index: 1;
  min-height: 500px;
  position: relative;
  background-image: url("./../../img/speakers/speakers-bg.svg");
}

.program {
  padding-top: 120px;
  padding-bottom: 67px;
}

.program__header {
  margin-bottom: 80px;
  text-align: center;
}/*# sourceMappingURL=main.css.map */