.contacts__header {
    margin-bottom: 64px;
}

.contacts__row {
    display: flex;
    justify-content: space-between;

    padding-bottom: 72px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

.contacts__column {
    &:first-child {
        width: 640px;
    }

    &:last-child {
        width: 440px;
    }
}

.contacts__email-list {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;

    color: #fff;
}

.contacts__phone {
    margin-bottom: 40px;

    font-size: 54px;
    font-weight: 400;
    line-height: 1.18; //64px

    a {
        color: #fff;
    }
}