.cost {
    position: relative;
    padding-top: 160px;
    padding-bottom: 160px;
    text-align: center;
    min-height: 1075px;
}

.cost.decor-polygon {
    position: relative;
    z-index: 5;

    &::before {
        z-index: 5;
        position: absolute;
        content: "";
        bottom: 0;
        left: calc(50vw - (var(--container-width) / 2));
        transform: translate(-50%, 50%);

        width: 166px;
        height: 173px;
        background-image: url("./../img/decor-svg/cube-double.svg");
    }

    &::after {
        z-index: 5;
        position: absolute;
        content: "";
        top: -43px;
        right: calc(50vw - (var(--container-width) / 2) + 60px);
        transform: translateX(100%);

        width: 164px;
        height: 187px;
        background-image: url("./../img/decor-svg/polygon-triple.svg");
    }
}

.cost__header {
    margin-bottom: 64px;
}

.cost__desc {
    margin-bottom: 32px;
    padding-right: 76px;
    padding-left: 76px;

    font-size: 24px;
    font-weight: 300;
    line-height: 32px;
    color: rgb(42, 64, 86);
}

.cost__text--none {
    display: none;
}

.cost__timer {
    margin-top: 40px;
    margin-bottom: 56px;

    &--none {
        display: none;
    }
}

.cost-list-wrapper {
    margin-bottom: 64px;

    &--none {
        display: none;
    }
}

.cost-include__title {
    margin-bottom: 24px;

    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    color: #2a4056;
}

.cost-include__list {
    margin-bottom: 24px;
    margin-left: auto;
    margin-right: auto;

    max-width: 832px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

.cost-include__list li {
    padding: 8px 24px;

    display: inline-block;
    border: 1px solid #2a4056;
    border-radius: 12px;
}

.const__warning {
    margin: 0 auto;
    padding-left: 32px;

    max-width: 320px;
    position: relative;

    text-align: left;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    color: #2a4056;

    &::before {
        position: absolute;
        content: url("./../../img/icons/warning.svg");
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        display: inline-block;
    }
}

.cost__btn {
    display: none;
    margin-top: 64px;
}