.footer {
    margin-top: -170px;
    padding-top: 629px;
    padding-bottom: 80px;
}

.footer.clip-section::after {
    clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0 100%);
}

.footer__row {
    padding-top: 48px;
    padding-bottom: 80px;

    display: flex;
    justify-content: space-between;
}

.footer__column {
    &:first-child {
        margin-top: auto;
        width: 640px;
    }

    &:last-child {
        width: 440px;
    }
}

.form-subscribe {
    width: 448px;
    height: 128px;
}

.form-subscribe__input {
    margin-bottom: 16px;

    padding-left: 20px;
    padding-right: 20px;

    height: 56px;
    width: 100%;
    border: 1px solid #c6d9ec;
    border-radius: 16px;
    line-height: 56px;

    color: #fff;


    &::placeholder {
        font-size: 18px;
        font-weight: 300;
        // line-height: 1.55; //28px
        color: #8599ad;
    }
}

.footer__bottom {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6; //24px;
    color: #c6d9ec;

    a {
        color: rgb(198, 217, 236);
        transition: opacity 0.2s ease-in;

        &:hover {
            opacity: 0.6;
        }
    }
}

.footer__copyright {
    display: flex;

    li:not(:last-child) {
        margin-right: 48px;
    }
}

.footer__policy {

    li+li {
        margin-top: 8px;
    }
}