.forum {
    padding-top: 43px;
    padding-bottom: 164px;
}

.forum.decor-circle {
    &::before {
        bottom: 0;
        left: calc(50vw - var(--container-width) / 2 - 60px);
        transform: translateX(-50%);
        background-image: url("./../img/decor-svg/circle-green.svg");
    }

    &::after {
        top: 43px;
        left: unset;
        right: calc(50vw - var(--container-width) / 2 - 200px);
        background-image: url("./../img/decor-svg/circle-cyan.svg");
    }
}

.forum__header {
    margin-bottom: 71px;
    text-align: center;
}

.forum__row {
    display: flex;
    justify-content: space-between;
}

.forum__speakers {
    margin-right: 57px;
    width: 252px;
}

.forum__img-wrapper {
    margin-bottom: 24px;

    width: 235px;
    height: 244px;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
    }
}

.forum__note {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6; //24px
    color: #2a4056;
}

.forum__text {
    width: 503px;

    h4 {
        margin-bottom: 16px;

        font-size: 24px;
        font-weight: 600;
        line-height: 1.33; //32px
        color: #2a4056;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.55; //28px
        color: #2a4056;
    }

    p+* {
        margin-top: 48px;
    }
}

.forum__desc {
    margin-bottom: 48px;

    font-size: 24px;
    font-weight: 300;
    line-height: 1.33; //32px
    color: #2a4056;

    &--none {
        display: none;
    }

    &-mobile {
        order: -1;
        &--none {
            display: none;
        }   
    }
}

.forum__stat {
    margin-left: 89px;
    width: 218px;
}

.stat-grid li {
    padding-right: 5px;

    &:not(:last-child) {
        margin-bottom: 48px;
    }
}

.stat-grid__value {
    margin-bottom: 4px;

    display: inline-block;

    font-size: 46px;
    font-family: "Unbounded", sans-serif;
    font-weight: 700;
    line-height: 1.04; // 48px
}

.stat-grid__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.33; //32px
    color: #2a4056;
}