.forum {
    padding-top: 43px;
    padding-bottom: 115px;
}

.forum__header {
    margin-bottom: 40px;
    text-align: center;
}

.forum__row {
    display: flex;
    justify-content: space-between;
}

.forum__speakers {
    width: 252px;
}

.forum__img-wrapper {
    margin-bottom: 24px;
   
    width: 235px;
    height: 244px;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
    }
}

.forum__note {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6; //24px
    color: #2a4056;
}

.forum__text {
    width: 503px;

    h4 {
        margin-bottom: 16px;

        font-size: 24px;
        font-weight: 600;
        line-height: 1.33; //32px
        color: #2a4056;
    }

    p {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.55; //28px
        color: #2a4056;
    }

    p + * {
        margin-top: 48px;
    }
}

.forum__desc {
    margin-bottom: 48px;

    font-size: 24px;
    font-weight: 300;
    line-height: 1.33; //32px
    color: #2a4056;
}

.forum__stat {
    width: 216px;
}

.stat-grid li {
    font-family: "Unbounded", sans-serif;
    &:not(:last-child) {
        margin-bottom: 48px;
    }
   
}

.stat-grid__value {
    margin-bottom: 4px;

    font-size: 46px;
    font-weight: 700;
    line-height: 1.04; // 48px
    text-align: left;
}

.stat-grid__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.33; //32px
    color: #2a4056;
}