.header {
    padding-top: 20px;
    padding-bottom: 105px;
}

.header__content {
    position: relative;
    height: 564px;
    background-image: url('./../img/header/header-bg.svg');
    background-position: right top; // x y
    background-size: 928px 564px;
    background-repeat: no-repeat;

    &:not(:last-child) {
        margin-bottom: 120px;
    }
}

.header__text {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    max-width: 657px;
}

.header__text span {
    margin-bottom: 8px;

    font-family: "Geologica", sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.11; //40px

    &::before {
        content: "";
        position: absolute;
        top: -44px;
        left: -18px;
        width: 72px;
        height: 125px;
        transform: translateX(-100%);

        background-image: url('./../img/decor-multi.svg');
        background-position: center center; // x y
        background-size: cover;
        background-repeat: no-repeat;

    }
}

.header__title {
    margin-bottom: 24px;
}

.header__desc {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.11;

    p:first-child {

        &::after {
            margin-left: 24px;

            display: inline-block;
            vertical-align: middle;
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #2a4056;
        }
    }
}

