.header-top {
}

.header__nav {
    padding-top: 18px;
    padding-bottom: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav {
}

.nav__list {
    display: flex;
    align-items: center;
}

.nav__list li:not(:last-child) {
    margin-right: 24px;
}

.nav__list a {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.55; //28px
    color: #2a4056;
}

.header__btn {
}

.btn-header {
}