.header-top {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-top.decor-circle {
    &::before {
        display: none;
    }

    &:after {
        left: 158px;
    }
}

.header-top__btn--none {
    display: none;
}