.header {
    padding-top: 20px;
    padding-bottom: 74px;
}

.header__content {
    position: relative;
    height: 564px;
    background-image: url('./../img/header/header-bg.svg');
    background-position: right top; // x y
    background-size: 928px 564px;
    background-repeat: no-repeat;

}

.header__text {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    max-width: 657px;
}

.header__title {
    margin-bottom: 24px;

    span {
        font-family: "Geologica", sans-serif;
        font-size: 36px;
        font-weight: 300;
        line-height: 1.11; //40px
    }
}

.header__desc {
    display: flex;
    justify-content: space-between;
    font-size: 36px;
    font-weight: 300;
    line-height: 1.11;

    p:first-child {

        &::after {
            margin-left: 24px;

            display: inline-block;
            vertical-align: middle;
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #2a4056;
        }
    }
}

.header__timer {}