.header {
    padding-bottom: 105px;
    min-height: 564px;
}

.header__content {
    position: relative;

    &:not(:last-child) {
        margin-bottom: 56px;
    }
}

.header__img {
    margin-left: auto;

    width: 928px;
    height: 564px;
    overflow: hidden;

    img {
        clip-path: path("M912 0H105.271C99.3051 0 93.5532 2.22192 89.1366 6.23252L7.86566 80.0333C2.85635 84.5821 0 91.0342 0 97.8007V164.521C0 173.358 7.16344 180.521 16 180.521H147C155.837 180.521 163 187.685 163 196.521V264.489C163 273.325 170.163 280.489 179 280.489H335C343.837 280.489 351 287.652 351 296.489V374.738C351 383.575 358.163 390.738 367 390.738H561C569.837 390.738 577 397.902 577 406.738V548C577 556.837 584.163 564 593 564H821.362C827.844 564 834.049 561.379 838.568 556.732L921.205 471.76C925.562 467.28 928 461.277 928 455.027V16C928 7.16344 920.837 0 912 0Z");
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.header__text {
    z-index: 1;
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";

    max-width: 657px;
    font-size: 36px;
    font-weight: 300;
}

.header__text span {
    line-height: 1.5; //40px

    &::before {
        content: "";
        position: absolute;
        top: -44px;
        left: -18px;
        width: 72px;
        height: 125px;
        transform: translateX(-100%);

        background-image: url('./../img/decor-multi.svg');
        background-position: center center; // x y
        background-size: cover;
        background-repeat: no-repeat;

    }
}

.header__title {
    margin-bottom: 24px;
}

.header__desc {
    display: flex;
    justify-content: space-between;
    line-height: 1.11;

    p+p {
        position: relative;
        padding-left: 32px;

        &::before {
            position: absolute;
            top: 16px;
            left: 0;
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: #2a4056;
        }
    }
}

.header__timer {
    padding-top: 76px;
    display: none;
}