.header-top {
    padding-top: 28px;
    padding-bottom: 24px;
}

.header-top__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top.decor-circle {
    &::before {
        display: none;
    }

    &:after {
        left: 158px;
    }
}

.header-top__btn--none {
    display: none;
}