.place {
    position: relative;
    height: 1047px;
    overflow: hidden;
}

.place__header {
    z-index: 2;
    position: absolute;
    top: 136px;
    left: 50%;
    transform: translateX(-50%);
}

