.registration {
    padding-top: 16px;
    padding-bottom: 152px;
}

.registration__back {
    margin-bottom: 68px;
}

.registration__title {
    margin-bottom: 48px;

    font-family: "Unbounded", sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.04; //48px;
}

