.reviews {
    padding-top: 100px;
    padding-bottom: 100px;
}

.reviews.decor-circle {
    &::before {
        bottom: unset;
        top: 52px;
        left: calc(50vw - var(--container-width) / 2 - 60px);
        transform: translateX(-50%);
        background-image: url("./../img/decor-svg/circle-green.svg");
    }

    &::after {
        display: none;
    }
}


.reviews .decor-polygon {

    &::before {
        position: absolute;
        content: "";
        bottom: -89px;
        left: -93px;

        width: 150px;
        height: 288px;
        background-image: url("./../img/decor-svg/polygon-cyan-one.svg");
    }

    &::after {
        z-index: 2;
        position: absolute;
        content: "";
        top: -49px;
        right: -32px;

        width: 75px;
        height: 141px;
        background-image: url("./../img/decor-svg/polygon-lime-one.svg");
    }
}


.reviews__header {
    margin-bottom: 64px;
    text-align: center;
}