.speakers {
    position: relative;
    padding-top: 187px;
    padding-bottom: 185px;
    min-height: 1032px;
}

.speakers.clip-section::after {
    clip-path: polygon(0% 17%, 100% 2%, 100% 82%, 0 100%);
}


.speakers__tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px;
    height: 200px;
}

.speakers__tooltip-text {
    display: flex;
    justify-content: space-evenly;
    font-family: "Unbounded", sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 24px;
    fill: #2a4056;
    animation: svgTextMove 30s linear infinite;
}

@keyframes svgTextMove {
    0% {
        transform: translate(-1500px, 0);
        /* hop up */
    }


    100% {
        transform: translate(0, 0);
        /* return to baseline */
    }
}

.speakers__header {
    margin-bottom: 64px;
    text-align: center;
}

.speakers__badge {
    width: 216px;
    height: 84px;

    position: absolute;
    z-index: 1;
    top: 173px;
    right: calc(50vw - (var(--container-width) / 2) - 20px);

    color: #fff;
}

.speakers__badge .decor-polygon {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: -31px;
    right: 22px;

    width: 75px;
    height: 141px;
    background-image: url("./../img/decor-svg/polygon-azure-one.svg");

}

.speakers__amount {
    font-family: "Unbounded", sans-serif;
    font-size: 46px;
    font-weight: 700;
    line-height: 1.04; //48px
}

.speakers__subtext {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.33; //32px
}