/* Mobile */
@media (max-width: 767px) {
    .h1 {
        font-size: 28px;
    }

    .h2 {
        font-size: 24px;
    }

    .btn-solid {
        padding-left: 21.5px;
        padding-right: 21.5px;
        font-size: 15px;
    }

    .grad-border {
        padding-bottom: 4px;
        background-size: 100% 8px;
    }

    .header-top {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .nav__list {
        display: none;
    }

    .header {
        padding-bottom: 28px;
        min-height: unset;
    }

    .header__content:not(:last-child) {
        margin-bottom: 0;
    }

    .header__img {
        width: 320px;
        height: 192px;

        img {
            clip-path: path("M313.155 0H37.521C34.701 0 32.005 1.15996 30.066 3.20763L2.81217 31.9881C1.00639 33.895 0 36.4215 0 39.0477V54.6191C0 58.3994 3.06453 61.4639 6.84483 61.4639H49.3621C53.1424 61.4639 56.2069 64.5284 56.2069 68.3087V88.6559C56.2069 92.4362 59.2714 95.5007 63.0517 95.5007H114.19C117.97 95.5007 121.034 98.5652 121.034 102.346V126.194C121.034 129.974 124.099 133.039 127.879 133.039H192.121C195.901 133.039 198.966 136.103 198.966 139.883V185.186C198.966 188.966 202.03 192.031 205.81 192.031H282.426C285.176 192.031 287.811 190.927 289.741 188.968L317.048 161.243C318.94 159.322 320 156.735 320 154.039V6.84483C320 3.06453 316.935 0 313.155 0Z");
        }
    }


    .header__text {
        padding-left: 24px;
        top: 136px;
        font-size: 24px;

        &::before {
            width: 40px;
            height: 71px;
            top: -28px;
            left: 24px;
        }
    }

    .header__title {
        margin-bottom: 12px;
    }

    .header__desc {
        flex-direction: column;
        font-size: 24px;
        line-height: 1.33;
    }

    .header__timer {
        padding-top: 216px;
    }

    .timer {
        padding: 19px 19px;
    }

    .timer-count__text {
        font-size: 18px;
    }

    .time {
        width: 100%;
        justify-content: left;

        font-size: 30px;
    }

    .time li:not(:last-child)::after {
        padding-left: 5px;
        padding-right: 5px;
        content: ":";
        font-size: 26px;
    }

    .time__unit {
        padding-left: 5px;
    }

    .form__group {
        column-gap: 0;
        flex-direction: column;

        &>* {
            width: 100%;
        }
    }

    .form__input {
        margin-bottom: 12px;
        padding-left: 10px;
        padding-right: 10px;

        height: 44px;
        line-height: 44;

        &::placeholder {
            font-size: 16px;
        }
    }

    .forum {
        padding-top: 28px;
        padding-bottom: 32px;
    }

    .forum__header {
        margin-bottom: 20px;
    }

    .forum__row {
        row-gap: 48px;
    }

    .forum__speakers {
        flex-direction: column;
    }

    .forum__img-wrapper {
        margin-bottom: 24px;
        margin-right: 0;
        width: 308px;
        height: 320px;
    }

    .forum__note {
        width: 100%;
        font-size: 16px;
    }

    .forum-text {
        row-gap: 24px;

        h4 {
            margin-bottom: 8px;
        }

        p {
            font-size: 16px;
        }

        p+* {
            margin-top: 24px;
        }
    }

    .forum-text__block {
        width: 328px;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .forum-text__desc {
        font-size: 20px;
    }

    .forum__tooltip {
        margin-top: 48px;
    }

    .stat-grid {
        gap: 24px;
    }

    .stat-grid li {
        width: 148px;
    }

    .speakers {
        padding-top: 88px;
        padding-bottom: 91px;
    }

    .speakers__header {
        margin-bottom: 32px;
    }

    .slider-speakers__item {
        width: 220px;
        height: 408px;
    }

    .slider-speakers__title {
        font-size: 16px;
    }

    .slider-speakers__img {
        width: 220px;
        height: 268px;

        img {
            clip-path: path("M80 0H220V188C220 232.183 184.183 268 140 268H0V80C0 35.8172 35.8172 0 80 0Z");
        }
    }

    .program__header {
        margin-bottom: 32px;
    }

    .tab__nav {
        margin-bottom: 42px;
    }

    .tab__btn {
        padding-bottom: 8px;
        font-size: 24px;
    }

    .tab-block__row {
        flex-wrap: wrap;

        &:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    .tab-block__column {
        &:first-child {
            margin-right: 0;
            width: 288px;
            cursor: pointer;
        }

        &:not(:only-child):last-child {
            margin-top: 12px;
            width: 100%;
        }
    }

    .tab-block__time {
        margin-bottom: 12px;
    }

    .tab-block__line {
        padding-left: 28px;

        &::before {
            top: 10px;
            width: 8px;
            height: 8px;
        }
    }

    .tab-block__btn {
        display: flex;
    }

    .tab-block__column--hidden {
        display: none;
    }

    .how-was {
        padding-top: 56px;
        padding-bottom: 28px;
    }

    .how-was__header {
        margin-bottom: 24px;
    }

    .slider-how-was {
        height: 180px;
    }

    .slider-mini-how-was .swiper-wrapper {
        justify-content: unset;
    }

    .slider-how-was__img {
        width: 320px;
        height: 180px;
    }

    .reviews {
        padding-top: 28px;
        padding-bottom: 28px;
    }

    .reviews__header {
        margin-bottom: 28px;
    }

    .slider-reviews {
        width: 296px;
        height: 448px;
    }

    .slider-reviews__item {
        padding: 20px 20px;

        max-width: 296px;
        height: 448px;

        font-size: 15px;
    }

    .slider-reviews__img {
        width: 64px;
        height: 64px;
    }

    .slider-reviews__name {
        height: 48px;
        font-size: 18px;
        line-height: 1.33;
        overflow: hidden;
    }

    .slider-reviews__desc {
        height: 320px;
        line-height: 1.6;
    }

    .slider-reviews__pagination {
        display: none;
    }

    .press-about {
        padding-top: 28px;
        padding-bottom: 28px;
    }

    .press-about__header {
        margin-bottom: 24px;
    }

    .slider-press-about {
        height: 176px;
    }

    .slider-press-about__item {
        width: 296px;
        max-height: 176px;
    }

    .slider-press-about__title {
        margin-bottom: 12px;

        max-height: 24px;
    }

    .slider-press-about__text {
        margin-bottom: 12px;
        height: 96px;
    }

    .slider-press-about__pagination {
        display: none;
    }
}