/* Mobile */
@media (max-width: 767px) {
    .h1 {
        font-size: 28px;
    }

    .h2 {
        font-size: 24px;
    }

    .btn-solid {
        padding-left: 21.5px;
        padding-right: 21.5px;
        font-size: 15px;
    }

    .grad-border {
        background-size: 100% 6px;
    }

    .header-top {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .nav__list {
        display: none;
    }

    .header {
        padding-bottom: 20px;
        min-height: unset;
    }

    .header__content:not(:last-child) {
        margin-bottom: 0;
    }

    .header__img {
        width: 320px;
        height: 192px;

        img {
            clip-path: path("M313.155 0H37.521C34.701 0 32.005 1.15996 30.066 3.20763L2.81217 31.9881C1.00639 33.895 0 36.4215 0 39.0477V54.6191C0 58.3994 3.06453 61.4639 6.84483 61.4639H49.3621C53.1424 61.4639 56.2069 64.5284 56.2069 68.3087V88.6559C56.2069 92.4362 59.2714 95.5007 63.0517 95.5007H114.19C117.97 95.5007 121.034 98.5652 121.034 102.346V126.194C121.034 129.974 124.099 133.039 127.879 133.039H192.121C195.901 133.039 198.966 136.103 198.966 139.883V185.186C198.966 188.966 202.03 192.031 205.81 192.031H282.426C285.176 192.031 287.811 190.927 289.741 188.968L317.048 161.243C318.94 159.322 320 156.735 320 154.039V6.84483C320 3.06453 316.935 0 313.155 0Z");
        }
    }


    .header__text {
        padding-left: 24px;
        top: 136px;
        font-size: 24px;

        &::before {
            width: 40px;
            height: 71px;
            top: -28px;
            left: 24px;
        }
    }

    .header__title {
        margin-bottom: 12px;
    }

    .header__desc {
        flex-direction: column;
        font-size: 24px;
        line-height: 1.33;
    }

    .header__timer {
        padding-top: 216px;
    }

    .timer {
        padding: 19px 19px;
    }

    .timer-count__text {
        font-size: 18px;
    }

    .time {
        width: 100%;
        justify-content: left;

        font-size: 30px;
    }

    .time li:not(:last-child)::after {
        padding-left: 5px;
        padding-right: 5px;
        content: ":";
        font-size: 26px;
    }

    .time__unit {
        padding-left: 5px;
    }

    .form__title {
        font-size: 15px;
    }

    .form__group {
        column-gap: 0;
        flex-direction: column;

        &>* {
            width: 100%;
        }
    }

    .form__input {
        margin-bottom: 12px;
        padding-left: 10px;
        padding-right: 10px;

        height: 44px;
        line-height: 44;

        &::placeholder {
            font-size: 16px;
        }
    }

    .forum {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .forum__header {
        margin-bottom: 20px;
    }

    .forum__row {
        row-gap: 20px;
    }

    .forum__speakers {
        flex-direction: column;
    }

    .forum__img-wrapper {
        margin-bottom: 0;
        margin-right: 32px;
        width: 330px;
        height: 320px;
    }

    .forum__note {
        width: 326px;

        font-size: 18px;
        line-height: 1.55; //28px;
    }

    .forum-text {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        flex-wrap: wrap;
        width: 100%;

        h4 {
            margin-bottom: 16px;

            font-size: 24px;
            font-weight: 600;
            line-height: 1.33; //32px
            color: #2a4056;
        }

        p {
            font-size: 18px;
            font-weight: 300;
            line-height: 1.55; //28px
            color: #2a4056;
        }

        p+* {
            margin-top: 48px;
        }
    }

    .forum-text__block {
        width: 328px;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .forum-text__desc {
        font-size: 16px;
    }

    .forum__tooltip {
        margin-top: 40px;
        padding-right: 10px;
        width: 100%;
    }

    .forum__stat {
        margin-left: 0;
        width: 100%;
    }

    .stat-grid {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
    }

    .stat-grid li {
        width: 328px;
        padding-right: 0;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .stat-grid__text {
        font-size: 18px;
    }
}