/* Tablet */
@media (max-width: 1439px) {
    .h2 {
        font-size: 40px;
    }

    .clip-section::after {
        width: 768px;
        clip-path: polygon(0% 14%, 100% 0%, 100% 65%, 0 80%);
    }

    .main-page .btn-solid {
        height: 48px;
        padding-left: 31.5px;
        padding-right: 31.5px;
        border-radius: 12px;

        font-size: 15px;
        line-height: 48px;
    }

    .slider-arrow {
        display: none;
    }

    .slider-badge__text {
        width: 688px;
    }

    .form-subscribe {
        width: 328px;
        height: 104px;
    }

    .form-subscribe__input {
        margin-bottom: 12px;
        padding-left: 16px;
        padding-right: 16px;
        height: 44px;

        border-radius: 12px;
        line-height: 44px;
    }

    .form-subscribe .btn-solid {
        width: 100%;
        padding-left: 45.5px;
        padding-right: 45.5px;
    }

    .header-top {
        padding-top: 12px;
    }

    .nav__list li:not(:last-child) {
        margin-right: 16px;
    }

    .nav__list a {
        font-size: 15px;
        line-height: 1.6; //24px
    }

    .header {
        padding-bottom: 40px;
        min-height: 963px;
    }

    .header__content:not(:last-child) {
        margin-bottom: 32px;
    }

    .header__img {
        margin-left: 0;

        width: 688px;
        height: 420px;

        img {
            clip-path: path("M681.155 0H75.2617C72.6358 0 70.1097 1.00609 68.2029 2.81138L3.20846 64.3444C1.16028 66.2835 0 68.9797 0 71.8002V128.546C0 132.327 3.06454 135.391 6.84483 135.391H114C117.78 135.391 120.845 138.456 120.845 142.236V203.522C120.845 207.302 123.909 210.366 127.69 210.366H253.379C257.16 210.366 260.224 213.431 260.224 217.211V286.209C260.224 289.989 263.289 293.054 267.069 293.054H420.931C424.711 293.054 427.776 296.118 427.776 299.899V413.155C427.776 416.935 430.84 420 434.621 420H612.085C614.878 420 617.551 418.862 619.487 416.848L685.134 348.561C686.973 346.648 688 344.098 688 341.445V6.84483C688 3.06453 684.935 0 681.155 0Z");
        }
    }

    .header__text {
        top: 303px;
        bottom: unset;

        max-width: 100%;
        font-size: 36px;

        &::before {
            width: 56px;
            height: 100px;
            top: -35px;
            left: -8px;
        }
    }

    .header__text span {
        line-height: 1.11; //40px
    }

    .header__title {
        margin-bottom: 8px;
    }

    .header__desc {
        line-height: 1.11;
    }

    .header__timer {
        padding-top: 195px;
    }

    .timer {
        padding: 24px 32px 32px;
        width: 100%;
        border-radius: 20px;

        // &--outline {
        //     border-color: #e4edf6;
        // }
    }

    .timer-count {
        text-align: left;
    }

    .timer-count__text {
        font-size: 24px;
        font-weight: 600;
        line-height: 1.33; //32px
    }

    .countdown {
        display: flex;
        align-items: center;
    }

    .time {
        font-size: 34px;
        width: 100%;
        justify-content: left;
    }

    .timer__form {
        margin-top: 20px;
    }

    .form__title {
        font-size: 16px;
    }

    .form__group {
        column-gap: 24px;

        &>* {
            width: 50%;
        }
    }

    .form__input {
        height: 44px;

        &::placeholder {
            font-size: 16px;
            font-weight: 300;
            line-height: 1.5;
        }
    }

    .forum {
        padding-top: 40px;
        padding-bottom: 28px;
    }

    .forum__header {
        margin-bottom: 48px;
    }

    .forum__row {
        flex-direction: column;
        justify-content: unset;
        row-gap: 40px;
    }

    .forum__speakers {
        margin-right: 0;

        display: flex;
        align-items: center;
        width: 100%;
    }

    .forum__img-wrapper {
        margin-bottom: 0;
        margin-right: 32px;
        width: 330px;
        height: 320px;
    }

    .forum__note {
        width: 326px;

        font-size: 18px;
        line-height: 1.55; //28px;
    }

    .forum-text {
        display: flex;
        justify-content: space-between;
        gap: 32px;
        flex-wrap: wrap;
        width: 100%;

        h4 {
            margin-bottom: 16px;

            font-size: 24px;
            font-weight: 600;
            line-height: 1.33; //32px
        }

        p+* {
            margin-top: 48px;
        }
    }

    .forum-text__block {
        width: 328px;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .forum-text__desc {
        margin-bottom: 0;
        display: none;

        &--mobile {
            display: block;
        }
    }

    .forum__tooltip {
        margin-top: 40px;
        padding-right: 10px;
        width: 100%;
    }

    .forum__stat {
        margin-left: 0;
        width: 100%;
    }

    .stat-grid {
        display: flex;
        gap: 32px;
        flex-wrap: wrap;
    }

    .stat-grid li {
        width: 328px;
        padding-right: 0;

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .stat-grid__text {
        font-size: 18px;
    }

    .speakers__tooltip {
        // display: none;
    }

    .speakers {
        padding-top: 120px;
        padding-bottom: 72px;
        overflow: hidden;
    }

    .speakers__header {
        margin-bottom: 48px;
    }

    .speakers__badge {
        display: none;
    }

    .speakers .slider-arrow {
        display: none;
    }

    .slider-speakers {
        // position: relative;
        max-width: 700px;
        height: 408px;
    }

    .slider-speakers__item {
        max-width: 220px;
        height: 408px;

        &:nth-child(even) {
            margin-top: unset;
        }
    }

    .slider-speakers__img {
        width: 220px;
        height: 268px;

        img {
            clip-path: path("M68.5185 0H220V199.481C220 237.323 189.323 268 151.481 268H0V68.5185C0 30.6768 30.6768 0 68.5185 0Z");
        }
    }

    .slider-speakers__title {
        padding-right: 10px;
    }

    .how-was__header .grad-border {
        padding-bottom: 7px;
        background-size: 100% 10px;
    }

    .slider-speakers__pagination {
        display: none;
    }

    .program {
        padding-top: 24px;
        padding-bottom: 48px;
    }

    .program__header {
        margin-bottom: 48px;
    }

    .tab__nav {
        margin-bottom: 40px;
    }

    .tab__btn {
        &:not(:last-child) {
            margin-right: 32px;
        }
    }

    .tab-block__row:not(:last-child) {
        margin-bottom: 40px;
    }

    .tab-block__time {
        margin-bottom: 8px;
    }

    .tab-block__title {
        width: 100%;
        font-size: 18px;
    }

    .tab-block__desc {
        color: #5b7289;
    }

    .cost {
        padding-top: 140px;
        padding-bottom: 120px;
        height: 968px;

        &::after {
            clip-path: polygon(0% 15%, 100% 0%, 100% 82%, 0 100%);
        }
    }

    .cost__header {
        margin-bottom: 40px;
    }

    .cost__desc {
        margin-bottom: 40px;
        padding-right: 0;
        padding-left: 0;
        text-align: left;
    }

    .cost__timer {
        margin-top: 40px;
        margin-bottom: 40px;

        &--none {
            display: none;
        }
    }

    .cost-include__list {
        justify-content: left;
    }

    .cost-include {
        text-align: left;
    }

    .cost-include__title {
        margin-bottom: 16px;

        font-size: 18px;
        line-height: 1.77;
    }

    .cost-include__list {
        margin-bottom: 40px;
        max-width: 688px;
    }

    .const__warning {
        max-width: 688px;
    }

    .cost__btn {
        display: none;
        margin-top: 64px;
    }

    .how-was {
        padding-bottom: 60px;
    }

    .how-was__header {
        margin-bottom: 40px;
    }

    .slider-how-was {
        width: 100%;
        height: 366px;
    }

    .slider-how-was__img {
        width: 688px;
        height: 366px;
        border-radius: 16px;

        &:after {
            width: 96px;
            height: 96px;
        }
    }

    .slider-how-was__text {
        display: none;
    }


    .slider-mini-how-was {
        height: 64px;
    }

    .slider-mini-how-was__item {
        padding-bottom: 8px;
        height: 64px;
    }

    .reviews {
        overflow: hidden;
        padding-top: 60px;
        padding-bottom: 64px;
    }

    .reviews .decor-polygon {

        &::before,
        &::after {
            display: none;
        }
    }

    .reviews__header {
        margin-bottom: 40px;
    }

    .slider-reviews {
        width: 664px;
        height: 496px;
    }

    .slider-reviews__item {
        padding: 24px 24px;

        max-width: 320px;
        height: 440px;

        font-size: 16px;
    }

    .slider-reviews__img {
        width: 56px;
        height: 56px;
    }

    .slider-reviews__desc {
        padding-left: 0;
    }

    .slider-reviews__name {
        width: 175px;
        height: 40px;
        font-weight: 600;
        line-height: 1.25;
    }

    .slider-reviews__date {
        font-size: 15px;
        line-height: 1.6; //24px
    }

    .press-about {
        padding-top: 64px;
        padding-bottom: 46px;
    }

    .press-about__header {
        margin-bottom: 40px;
    }

    .slider-press-about {
        height: 364px;
    }

    .slider-press-about__item {
        padding-left: 0;
        padding-right: 0;
        width: 320px;
    }

    .partners {
        padding-top: 46px;
        padding-bottom: 60px;
    }

    .partners__header {
        margin-bottom: 32px;
    }

    .partners__header .grad-border {
        padding-bottom: 7px;
        background-size: 100% 10px;
    }

    .partners__row+.partners__row {
        margin-top: 32px;
    }

    .partners__list li {
        padding: 18px 18px;
        width: 148px;
        height: 93px;

        img {
            height: 53px;
        }
    }

    .partners__btn {
        margin-top: 32px;
    }

    .place {
        padding-top: 108px;
    }

    .place__header {
        top: 60px;
        width: 490px;

        .h2--light {
            color: #2a4056;
        }
    }

    .slider-place {
        height: 608px;
        clip-path: polygon(0 15%, 100% 0, 100% 80%, 0 100%);
    }

    .slider-place__content .slider-arrow {
        display: flex;
        width: 48px;
        height: 48px;
    }

    .slider-place__item {
        height: 608px;
    }

    .slider-place__pagination {
        padding-left: 34px;
        padding-right: 34px;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        width: 130px;
        height: 48px;

        font-size: 24px;
        font-weight: 300;
        line-height: 48px;
        border-radius: 100px;
        background-color: #fff;
    }

    .slider-place__controls {
        bottom: 154px;
    }

    .slider-place__badge {
        bottom: 134px;
    }

    .slider-badge {
        flex-wrap: wrap;
        align-content: space-between;
        width: 688px;
        height: 531px;
    }

    .slider-badge__text {
        padding: 32px 32px 0;
        max-height: 128px;
    }

    .slider-badge__desc {
        margin-bottom: 0;
        font-size: 18px;
        line-height: 1.55;
        ;

        p+p {
            margin-top: 5px;
        }
    }

    .slider-badge__title {
        margin-bottom: 8px;

        font-size: 18px;
        line-height: 1.55;
    }

    .slider-badge__link-map {
        font-size: 15px;
        line-height: 1.6; //28px
    }

    .badge-video {
        top: unset;
        left: 0;
        bottom: -1px;
        width: 101%;
        height: 72.8%;
        border-radius: 16px;
    }

    .badge-video__img {
        bottom: -1px;
        left: -2px;
        width: 100.5%;
        height: 100%;
    }

    .footer {
        margin-top: -130px;
        padding-top: 647px;
        // padding-bottom: 80px;
    }

    .footer.clip-section::after {
        clip-path: unset;
    }


    .contacts__header {
        margin-bottom: 40px;
        text-align: center;
    }

    .contacts__row {
        padding-bottom: 40px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    .contacts__column,
    .contacts__column:last-child {
        width: 50%;
    }

    .contacts__column+.contacts__column {
        margin-left: 32px;
    }

    .contacts__email-list {
        row-gap: 24px;
    }

    .contacts__email-list li {
        font-size: 15px;
        line-height: 1.6;

        .email {
            font-size: 18px;
            line-height: 1.55;
        }
    }

    .contacts__phone {
        margin-bottom: 32px;

        font-size: 36px;
        font-weight: 300;
        line-height: 1.11;
    }

    .footer__row {
        padding-top: 40px;
        padding-bottom: 68px;
    }

    .footer__column:first-child,
    .footer__column:last-child {
        width: 50%;
    }

    .footer__column+.footer__column {
        margin-left: 32px;
    }

    .footer__policy li+li {
        margin-top: 16px;
    }

    /*== form-register page ==*/
    .registration {
        padding-bottom: 77px;
    }

    .registration__back {
        margin-bottom: 32px;
    }

    .return-back {
        padding-top: 0;
        padding-bottom: 0;
    }

    .form-block {
        padding: 32px 32px;
        border-radius: 16px;

        &:first-child::after {
            top: 46px;
            right: 0;

            width: 80px;
            height: 142px;
        }

        &--checkbox {
            padding-left: 32px;
            padding-right: 32px;
        }
    }

    .form-group+.form-group {
        margin-top: 32px;
    }

    .form-group__input-wrapper .input {
        width: 197px;
    }

    .input {
        width: 100%; 
    
        &--less {
            width: 100%; 
        }
    }

    .form-group__title {
        margin-bottom: 16px;
    }

    .form-register__buttons {
        padding-left: 32px;
    }

}