.btn-solid {
    display: inline-block;
    height: 56px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 16px;
    background-color: #293f55;

    font-family: "Unbounded", sans-serif;
    font-size: 18px;
    line-height: 56px;
    font-weight: 500;
    color: #fff;

    &--grad {
        box-shadow: $btn-shadow;
        background: $btn-grad;    
    }
}

.btn-header {
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    height: 40px;

    border: 1px solid #2a4056;
    border-radius: 11.43px;

    font-family: "Unbounded", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    color: #2a4056;
}

