.btn-solid {
    display: inline-block;
    height: 56px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 16px;
    background-color: #2a4056;

    font-family: "Unbounded", sans-serif;
    font-size: 18px;
    line-height: 56px;
    font-weight: 500;
    color: #fff;

    transition: all 0.2s ease-in;

    &:hover {
        background-color: #4b739b;
    }

    &:active {
        background-color: #7699bc;
    }

    &:disabled {
        opacity: 0.3;
    }

    &--grad {
        box-shadow: $btn-shadow;
        background: $btn-grad;

        &:hover {
            box-shadow: $btn-grad-hover-shadow;
            background: $btn-grad-hover;
        }

        &:active {
            background: $btn-grad-active;
        }

        &:disabled {
            opacity: 0.4;
        }
    }

    &--transparent {
        background-color: #fff;
    }
}

.btn-header {
    display: inline-block;
    padding-left: 24px;
    padding-right: 24px;
    height: 40px;

    border: 1px solid #2a4056;
    border-radius: 11.43px;

    font-family: "Unbounded", sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 40px;
    color: #2a4056;

    transition: all 0.2s ease-in;

    &:hover {
        background-color: #e4edf6;
    }

    &:active {
        background-color: #c5d8eb;
    }

    &:disabled {
        background-color: #fff;
        opacity: 0.4;
    }
}

.btn-back {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: "Geologica", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.55; //28px;
    color: #2a4056;
}

.btn-outline {
    padding-right: 32px;
    padding-left: 32px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #293f55;
    border-radius: 16px;

    font-family: "Unbounded", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 56px;
    color: #2a4056;

    img {
        margin-right: 8px;
        width: 24px;
        height: 24px;
    }

    &:hover {
        background-color: #e4edf6;
    }

    &:active {
        background-color: #c5d8eb;
    }

    &:disabled {
        background-color: #fff;
        opacity: 0.4;
    }
}


