.checkbox-row {
    display: flex;
    align-items: flex-start;
}

.checkbox-row + .checkbox-row {
    margin-top: 16px;
}

.checkbox-real {
    width: 0;
    height: 0;
    position: absolute;
    opacity: 0;
    z-index: -1;
    appearance: none;
}

.checkbox-custom {
    margin-right: 8px;

    position: relative;
    vertical-align: bottom;

    display: inline-block;
    min-width: 20px;
    height: 20px;

    border-radius: 6px;
    border: 1px solid #c6d9ec;
    background-color: #fff;

    &::before {
        content: "";

        width: 12px;
        height: 8px;

        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0);

        background-image: url("./../img/icons/checked.svg");
        background-repeat: no-repeat;
        background-position: center;

        transition: transform 0.2s ease-in;
    }
}

.checkbox-real:hover + .checkbox-custom {
    border-color: #8fa5bc;
}

.checkbox-real:checked+.checkbox-custom {
    background-color: #00d68f;
    border-color: #00d68f;

    &::before {
        transform: translate(-50%, -50%) scale(1);
    }
}

