.grad-border {
    display: inline;
   
    background-image: linear-gradient(90.00deg, rgb(0, 230, 134),rgb(0, 230, 210),rgb(0, 191, 230));
    background-position: center bottom; // x y
    background-size: 100% 12px;
    background-repeat: no-repeat;
}