.polygon-azure-one {
    width: 75px;
    height: 141px;
    fill: "#007893";
}

.polygon-cyan-one {
    width: 150px;
    height: 288px;
    fill: "#6af5ed";
    fill-opacity: "0.5";
}

.polygon-lime-one {
    width: 75px;
    height: 141px;
}