.form-register {
    width: 100%;
}

.form-register__block {
    padding: 48px 64px 64px;
    border-radius: 24px;
    background-color: #fff;

    &+* {
        margin-top: 16px;
    }

    &:first-child {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 53px;
            right: 18px;
            transform: translateY(-100%);

            width: 120px;
            height: 195px;
            background-image: url("./../img/decor-svg/polygon-multyple.svg");
        }
    }
}

.form-group+.form-group {
    margin-top: 56px;
}

* + .form-group__input-wrapper {
    margin-top: 24px;

    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.form-group__input-wrapper {
    display: flex;
    align-items: center;

    .input {
        width: 320px;
    }

    .input-row+.input-row {
        margin-top: 0;
        margin-left: 16px;
    }
}

.form-group__title {
    margin-bottom: 24px;

    font-family: "Unbounded", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.09; //24px;
}

.input-row__title {
    margin-bottom: 4px;

    font-size: 15px;
    font-weight: 300;
    line-height: 1.33; //20px;
}

.input {
    margin-top: 4px;
    width: 59%; // 656px
    position: relative;
    padding-left: 12px;
    padding-right: 12px;
    height: 40px;

    line-height: 40px;
    border: 1px solid #c6d9ec;
    border-radius: 8px;

    &--less {
        width: 29%; // 320px
    }
}

.input-row {}

.input-row+.input-row {
    margin-top: 24px;
}

.input-row+.checkbox-row {
    margin-top: 24px;
}

.input-row__label {
    font-size: 15px;
    font-weight: 300;
    line-height: 1.33; //20px;
}

.checkbox-row {
    margin-bottom: 16px;
    display: flex;
}

.form-register__btn {
    margin-top: 56px;
}

.form-register__checkbox {}


.form-register__buttons {}

.btn-solid {}

.btn-solid--grad {}

.btn-outline {}