.form-register {
    width: 100%;
}

.form-block {
    padding: 48px 64px 64px;
    border-radius: 24px;
    background-color: #fff;

    & + & {
        margin-top: 16px;
    }
    
    &+* {
        margin-top: 40px;
    }

    &:first-child {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 53px;
            right: 18px;
            transform: translateY(-100%);

            width: 120px;
            height: 195px;
            background-image: url("./../img/decor-svg/polygon-multyple.svg");
            background-position: center center; // x y
            background-size: contain;
            background-repeat: no-repeat;
            
        }
    }

    &--checkbox {
        padding: 0;
        padding-top: 24px;
        border-radius: 0;
        background-color: transparent;
    }
}

.form-tab__content {
    display: none;
}

.form-group+.form-group {
    margin-top: 56px;
}

.form-group__input-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input {
        width: 320px;
    }

    .input-row+.input-row {
        margin-top: 0;
    }
}

* + .form-group__input-wrapper {
    margin-top: 24px;

    &:not(:last-child) {
        margin-bottom: 24px;
    }
}

.form-group__title, .form-block__title {
    margin-bottom: 32px;

    font-family: "Unbounded", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.09; //24px;

    &--less {
        margin-bottom: 24px;

        font-family: "Geologica", sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 1.55; //28px;
    }
}

.form-block__title {
    font-family: "Unbounded", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.09; //24px;
}


.form-block__tip {
    margin-top: 4px;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.14; //16px
    color: #8fa6bc;
}

.form-register__buttons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 16px;
}
