.return-back {
    padding-top: 6px;
    padding-bottom: 6px;

    width: 114px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 18px;
    font-weight: 300;
    line-height: 1.55; //28px;
}