.slider-content {
    position: relative;
}

.slider-arrow {
    z-index: 4;
    position: absolute;
    top: 50%;
    content: "";
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0px 20px 40px 0px rgba(8, 99, 145, 0.08);

    display: flex;
    justify-content: center;
    align-items: center;

    &.swiper-button-disabled {
        opacity: 0;
    }
}

.slider-arrow__prev {
    transform: translate(-50%, -50%);
    left: 0;
}

.slider-arrow__next {
    right: 0;
    transform: translate(50%, -50%);
}

.swiper-pagination-bullet {
    position: relative;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    opacity: 1;
    background-color: #c6d9ec;
    cursor: pointer;

    &-active {
        width: 16px;
        height: 16px;
        background: $btn-grad;
    }
}