.tab-block {
    display: none;

    &--active {
        display: block;
    }
}

.tab-block__row {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
        margin-bottom: 56px;
    }
}

.tab-block__column {
    width: 50%;
    // width: 544px;

    &:nth-child(odd) {
        margin-right: 32px;
        display: flex;
        align-content: flex-start;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}

.tab-block__time {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.33; //32px
}

.tab-block__title {
    // width: 352px;
    width: 64.8%;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.33; //32px
}

.tab-block__line {
    position: relative;
    padding-left: 32px;

    font-weight: 300;

    &:not(:last-child) {
        margin-bottom: 16px;
    }

    &::before {
        position: absolute;
        content: "";
        top: 10px;
        left: 10px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: #2a4056;
    }
}

.tab-block__name {
    font-size: 18px;
    line-height: 1.55; //28px
}

.tab-block__desc {
    font-size: 15px;
    line-height: 1.33; //20px
}