.timer {
    padding: 40px 96px 48px;
    width: 1120px;
    border-radius: 24px;
    border: 1px solid #2a4056;
    box-shadow: 0px 20px 40px 0px rgba(8, 99, 145, 0.08);
    background-color: #fff;

    &--outline {
        border-color: #e4edf6;
    }
}

.timer-count {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    border-bottom: 1px solid #e4edf6;
}

.timer-count__text {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.11; //40px
    color: #2a4056;
}

.countdown {
    display: flex;
    align-items: center;
}

.time {
    width: 484px;
    display: flex;
    justify-content: space-between;
    font-size: 54px;
    line-height: 1.18;

    li {
        display: flex;
        justify-content: space-between;
    }
    
    li:not(:last-child) {
        position: relative;

        &::after {
            padding-left: 11px;
            padding-right: 11px;

            content: ":";
            font-size: 54px;
            color: #79a6d2;
            animation: 1s ease-in-out infinite flashing;
        }
    }
}

@keyframes flashing {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }

}

.time__unit {
    padding-left: 11px;
}

.time__unit {
    
    
}