.container {
    width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}


/* Tablet */
@media (max-width: 1199px) {
   .container {
        width: 718px;
   }
}

/* Mobile */
@media (max-width: 767px) {
    .container {
        width: 350px;
    }
}

