$text-grad: linear-gradient(90.00deg, rgb(23, 255, 156),rgb(64, 255, 243),rgb(96, 222, 255));
$value-grad: linear-gradient(90.00deg, rgb(0, 230, 134),rgb(0, 230, 210),rgb(0, 191, 230));
$btn-grad: linear-gradient(90.00deg, rgb(0, 230, 134) -0.036%,rgb(0, 230, 210) 48.922%,rgb(0, 191, 230) 99.964%);
$btn-shadow: 0px 24px 40px 0px rgba(8, 202, 229, 0.2);